<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Matéria</title>
    <style>
        .topic-button {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h1>{{ materia.nome }}</h1>
    
    <h2>Tópicos:</h2>
    <ul>
        {% for topico in materia.topicos %}
            <li class="topic-button">
                <form method="GET" action="{{ url_for('views.topico', id_topico=topico.id) }}">
                    <input type="hidden" name="topico_id" value="{{ topico.id }}">
                    <button type="submit" class="btn btn-info">{{ topico.nome }}</button>
                </form>
                <form method="POST" action="{{ url_for('views.excluir_topico', id_topico=topico.id) }}">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Adicionar Tópico:</h2>
    <form method="POST" action="{{ url_for('views.adicionar_topico', id_materia=materia.id) }}">
        <label for="nome">Coloque o nome do tópico:</label>
        <input type="text" name="nome">
        <label for="nome">Coloque o prazo:</label>
        <input type="text" id="prazo" name="prazo" pattern="\d{4}-\d{2}-\d{2}" title="Digite a data no formato YYYY-MM-DD">
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>
